/* Global styles */

* {
  outline: none;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.main {
  width: 500px;
  margin: 30px auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 50px 10px rgba(0, 0, 0, 0.1);
}

.new-task {
  padding: 20px 20px;
}

.new-task button.add:after {
  content: '+';
}

.new-task button.add:hover,
.new-task button.add:focus {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  opacity: 1;
}

.new-task button.add:disabled {
  display: none;
}

.tasks {

}

.task {
  padding: 20px 20px;
  border-top: 1px solid #e0e0e0;
}

.task input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline;
}

.task input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #bdbdbd;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  transition: all .4s, border-color .4s;
}

.task input[type="checkbox"] + label:hover:before,
.task input[type="checkbox"]:focus + label:before {
  border-color: #66bb6a;
}

.task input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #43a047;
  border-right-color: #43a047;
  transform: rotate(45deg);
}

.task input[type="checkbox"]:checked:focus + label:before,
.task input[type="checkbox"]:checked + label:hover:before {
  border-bottom-color: #1b5e20;
  border-right-color: #1b5e20;
}

.task input[type="text"],
.new-task input[type="text"] {
  border: none;
  position: relative;
  line-height: 24px;
}

.task input[type="text"] {
  width: calc(100% - 75px);
}

.new-task input[type="text"] {
  width: calc(100% - 40px);
}

.filter-options input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.filter-options label {
  font-size: 12px;
}

.filter-options input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  border: 2px solid transparent;
  transition: all .4s, border-color .4s;
  border-radius: 22px;
}

.filter-options input[type="radio"]:checked + label {
  border-color: #ffab91;
}

.filter-options input[type="radio"] + label:hover,
.filter-options input[type="radio"]:focus + label {
  border-color: #ff5722;
}

.new-task button.add,
.task button.remove {
  background-color: #fff;
  color: dimgray;
  font-size: 24px;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  width: 24px;
  height: 24px;
  float: right;
  border-radius: 24px;
  transition: all .4s;
  line-height: 22px;
  font-weight: normal;
  opacity: .3;
}

.task button.remove:after {
  content: '×';
}

.task button.remove:hover,
.task button.remove:focus {
  background-color: #c62828;
  color: #fff;
  cursor: pointer;
  opacity: 1;
}

.new-task span.error,
.task span.error {
  display: block;
  font-size: 12px;
  position: relative;
  color: #c62828;
  top: 4px;
}

.task span.error {
  left: 35px;
}

.filter-options {
  padding: 10px 20px;
  border-top: 1px solid #e0e0e0;
  text-align: right;
  position: relative;
}

.filter-options .count {
  display: block;
  position: absolute;
}

.filter-options .count span {
  font-size: 12px;
}
